<?xml version="1.0" encoding="UTF-8"?>
<!-- Spring配置文件的根元素，使用spring-beans-4.0.xsd语义约束 -->
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
	
	<bean id="employeeService" class="demo.service.EmployeeService"></bean>
	<bean id="employeeDAO" class="demo.dao.EmployeeDAO"></bean>
	
	<bean id="attendService" class="demo.service.AttendService"></bean>
	<bean id="attendDAO" class="demo.dao.AttendDAO"></bean>
	
	<bean id="benefitService" class="demo.service.BenefitService"></bean>
	<bean id="benefitDAO" class="demo.dao.BenefitDAO"></bean>
	
	<bean id="jobService" class="demo.service.JobService"></bean>
	<bean id="jobDAO" class="demo.dao.JobDAO"></bean>
	
	<bean id="salaryService" class="demo.service.SalaryService"></bean>
	<bean id="salaryDAO" class="demo.dao.SalaryDAO"></bean>
	
	<bean id="awardService" class="demo.service.AwardService"></bean>
	<bean id="awardDAO" class="demo.dao.AwardDAO"></bean>
</beans>
