<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BenefitMapper">
	 
	<!-- 显示全部 -->
	<select id="queryAllBenefit" resultType="demo.beans.Benefit">  
       select id, empid, mounth, bene from Benefit;
    </select>
    
    <!-- 根据主键查询 -->
    <select id="queryBenefitById" parameterType="int" resultType="demo.beans.Benefit">  
       select id, empid, mounth, bene from Benefit where id=#{id};
    </select>
    
    <!-- 根据empid查询 -->
    <select id="queryBenefitByEmpId" parameterType="int" resultType="demo.beans.Benefit">  
       select id, empid, mounth, bene from Benefit where empid=#{empid};
    </select>  
    
    <!-- 添加 -->
    <insert id="addBenefit" parameterType="demo.beans.Benefit">
    	insert into Benefit(empid, mounth, bene) values (#{empid},#{mounth},#{bene})
    </insert>
    
    <!-- 根据主键修改 -->
    <update id="editBenefit" parameterType="demo.beans.Benefit">
    	update Benefit set mounth=#{mounth},bene=#{bene} where id=#{id}
    </update>
    
    <!-- 根据主键删除 -->
    <delete id="deleteBenefitById" parameterType="int">
    	 delete from Benefit where id=#{id}
    </delete>
</mapper>  